h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 40px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.red {
  background-color: hsl(0, 70%, 40%);
  color: hsl(180, 100%, 100%);
}

.green {
  background-color: hsl(120, 70%, 40%);
  color: hsl(300, 100%, 100%);
}

.blue {
  background-color: hsl(240, 70%, 40%);
  color: hsl(60, 100%, 100%);
}

.title {
  border-bottom: 2px solid black;
}

.baloo p {
  font-family: 'Baloo 2', cursive;
}

.ubuntu p {
  font-family: 'Ubuntu', sans-serif;
}

.montserrat p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 0px 5px;
}

.color {
  width: 150px;
  height: 100px;
}

.color p {
  margin: 10px 10px;
  text-align: center;
}

section {
  border-top: 5px solid black;
  margin-bottom: 30px;
}
